/* style */

html, body, div {
	-webkit-overflow-scrolling : touch;

}

button:focus {
	outline: none;
}

input:focus {
  outline: none;
}


.wrap {
	width: 100%;

}

.container {
	width: 100%;

}

.main-visual {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-image: url('../images/mercy-theatrical-standard.jpg');
}

.dim {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.guide-container {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 30px 30px 0 30px;
	text-align: center;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
	font-size: 3.6em;
	line-height: 1.2;
	margin-top: 40px;
	margin-bottom: 20px;
	word-break: break-all;
	color: #ffffff;
}

.guide {
	color: #f3f3f3;
	line-height: 1.4;
	font-size: 0.9em;	
}

.sub {
	margin-top: 20px;
	font-size: 0.85em;
	color: #BDBDBD;
}

.area-transper, .area-result {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	text-align: center;
	webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.input {
	width: 100%;
	height: auto;  /* 높이값 초기화 */
  	line-height : normal;  /* line-height 초기화 */
	font-size: 14px;
	padding: 15px;
	border: 1px solid #373737;
	border-radius: 40px;
	resize: none;
	overflow: hidden;
	margin-top: 20px;
	outline: none;
	-webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;
	webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.area-result {
	padding: 10px;
}

.list {
	clear: both;
	margin-bottom: 30px;
	font-size: 1.4em;
	line-height: 1.2;
	color: #a69b79;
}

.result {
	width: 100%;
	padding: 50px;
	line-height: 24px;
	color: #ffffff;
	border: 1px solid #E1E1E1;
	margin-bottom: 10px;
	webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
	float: left;
	width: 30%;
	height: 50px;
	font-size: 0.9em;
	padding:0 10px;	
	border-radius: 30px;
	color: #FFB300;
	background-color: #0b0a07;
	margin-bottom: 30px;
	cursor: pointer;
}

.btn-clip {
	float: right;
	width: 68%;
	height: 50px;
	font-size: 0.9em;
	padding:0 10px;	
	border-radius: 30px;
	color: #ffffff;
	background-color: #0d8235;
	margin-bottom: 100px;
	cursor: pointer;
	margin-bottom: 30px;
}

.btn-area {
	width: 100%;
}

.email {
	color: #bdbdbd;
}

a.email-link {
	margin-top: 5px;
	text-decoration: underline;
	color: #bdbdbd;
	margin-bottom: 20px;
	display: block;
}

a.link {
	text-decoration: underline;
	color: #FFB300;
}